:root {
    --color-base: #6f95ff;
    --color-contrast: #ff8a00;
    --color-base-dark: #324d99;
    --color-dark: #333;
    --background-blue-gradient: linear-gradient(to left, --color-base, --color-base-dark);
}

.myPetshop-container {
    color: white;
    width: 90%;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.myPetshop-header {
    background-color: var(--color-dark);
    border-radius: 15px;
    /* box-shadow: var(--shadow-black-default); */
    height: 100px;
    text-align: center;
}

.myPetshop-header h1 {
    padding-top: 20px;
}

.myPetshop-infos {
    background-color: var(--color-dark);
    margin-top: 50px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    font-size: 22px;
}

.editIcont {
    color: white;
    font-size: 16px;
}

.editIcont:hover {
    color: var(--color-base);
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
}
