:root {
    --color-base: #6f95ff;
    --color-contrast: #ff8a00;
    --color-base-dark: #324d99;
    --color-dark: #333;
    --background-blue-gradient: linear-gradient(to left, --color-base, --color-base-dark);
  }

.container-genericForm {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: var(--color-base-dark);
}

.generic-form {
    width: 100%;
}

.generic-form-title {
    display: block;
    font-size: 30px;
    color: azure;
    line-height: 1.2;
    text-align: center;
}

.generic-form-title img {
    width: 90px;
}

.focus-input::after {
    font-size: 15px;
    color: #999999;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }