.error-tooltip {
  width: auto;
  color: var(--color-contrast);
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.error-tooltip.show {
  opacity: 1;
  visibility: visible;
}

