.text-center-generic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.text-center-generic a {
    cursor: pointer;
}

.text-generic1 {
    font-size: 14px;
    color: #adadad;
    line-height: 1.5;
    padding: 5px;
    text-decoration: none;
}

.text-generic2 {
    font-size: 14px;
    color: #ff8a00;
    line-height: 1.5;
    text-decoration: none;
}